@model IEnumerable<TPFin.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Posts</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}    </tbody>


</table>
<div>
    <a  class="btn mt-3 btn-outline-secondary" type="button"
         asp-controller="Home"
        asp-action="IndexAdmin">Volver al Home</a>
</div>